[flake8]
# Make line length conform to black's default
max-line-length = 88
# Workaround for https://github.com/PyCQA/pycodestyle/issues/373 ;
# see also
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#pycodestyle
extend-ignore = E203
