<!--
  ~ Copyright © 2024-2026 Brockmann Consult and contributors
  ~ Permissions are hereby granted under the terms of the MIT License:
  ~ https://opensource.org/licenses/MIT.
  -->

<div class="md-copyright">
  {% if config.copyright %}
    <div class="md-copyright__highlight">
      {{ config.copyright }}
      {% for link in config.extra.footer_links %}
        &nbsp;&nbsp;&nbsp;
        <a href="{{ link.href }}" rel="noopener">{{ link.text }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>
